body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-image: url("E:/mockme/src/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portal-intro{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-top: -10px;
  margin-bottom: -80px;
  margin-left: 70px;
}

.portal-intro header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
  margin-top: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
  align-items: center;
  padding-right: 150px;
}

.sign-tagline {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-style: italic;
    font-size: 1.2rem;
    color: #666;
    margin-top: 70px;
    margin-bottom: -50px;
    padding-left: 500px;
}
.signup-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  min-height: 90vh;
  width: 85vw;
  background-color: transparent;
  margin:20px;
  padding: 0;
}

.signup-form {
  opacity: 0;
  transform: translateY(80px);
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 20px 10px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  padding-top: 40px;
  max-width: 350px;
  height: 480px;
  animation: fadeIn 1s ease-in forwards;
  margin-right: -50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-form h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.signup-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #28224a;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.signup-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    margin-left: 50px;
}

.signup-image {
    opacity: 0;
    transform: translateY(80px);
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: right;
    animation: fadeIn 1s ease-in forwards;
} 

.logo {
  max-width: 150px;
  max-height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 60px;
  margin-left: -120px;
}

.login-link{
  padding: 30px;
  cursor: pointer;
  padding-left: 5px;
}
